
.Cast {
  margin: auto;

  h2 {
   @extend %credits-heading;
  }

  hr {
    @extend %hr-style;
  }

  .CastWrapper {
    @extend %sared-wrapper;
  }
  .CastItem {
    @extend %crew-cast-card;

    .CastName, .CastRole {
      padding: 0 7px;
      font-size: 14px;
    }

    .CastName {
      font-weight: bold;
      margin: 8px 0;
    }

    .CastRole  {
      font-size: 12px;
    }
  }
}
