
.Cast {
  width: 1200px;
  margin: auto;

  h2 {
   @extend %credits-heading;
  }

  hr {
    @extend %hr-style;
  }

  .CastWrapper {
    display: flex;
    justify-content: center;
  }
  .CastItem {
    @extend %crew-cast-card;

    img {
      width: 100%;
      height: 220px;
    }

    .CastName, .CastRole {
      padding: 0 7px;
      font-size: 14px;
    }

    .CastName {
      font-weight: bold;
      margin: 8px 0;
    }

    .CastRole  {
      font-size: 12px;
    }
  }
}
