.Crew {
  margin: auto;

  h2 {
    /*
      defined in the index scss file
      with all other variables.
    */
    @extend %credits-heading;
  }

  hr {
    @extend %hr-style;
  }

  .CrewWrapper {
    @extend %sared-wrapper;
  }
  .CrewItem {
   @extend %crew-cast-card;

    .CrewName, .CrewJob {
      padding: 0 7px;
      font-size: 14px;
    }

    .CrewName {
      font-weight: bold;
      margin: 8px 0;
    }

    .CrewJob {
      font-size: 12px;
    }
  }
}
