.Crew {
  width: 100%;
  margin: auto;
  margin-top: 80px;
  width: 1200px;

  h2 {
    @extend %credits-heading;
  }

  hr {
    @extend %hr-style;
  }

  .CrewWrapper {
    display: flex;
    justify-content: center;
  }
  .CrewItem {
   @extend %crew-cast-card;

    img {
      width: 100%;
      height: 220px;
    }

    .CrewName, .CrewJob {
      padding: 0 7px;
      font-size: 14px;
    }

    .CrewName {
      font-weight: bold;
      margin: 8px 0;
    }

    .CrewJob {
      font-size: 12px;
    }
  }
}
